<ng-container *ngIf="loading === false">
  <!-- INFO DEL CURSO -->
  <div class="title-section">
    <h1>{{course?.nom_curso}}</h1>
    <p>{{course?.descripcion}}</p>
    <h4>De: {{course?.fec_ini | date:'dd/MM/yyyy'}}, Hasta: {{course?.fec_fin | date:'dd/MM/yyyy'}} </h4>
  </div>
  <hr>

  <!-- TALLERES DEL CURSO -->
  <div class="content" *ngIf="workshops && workshops.length > 0">
    <div class="card" *ngFor="let workshop of workshops" routerLink="/workshops/{{workshop.idtaller}}">
      <div>
        <img [src]="workshop.imagen" alt="imagen-curso">
      </div>
      <div class="card-info">
        <h2>{{workshop.nom_taller}}</h2>
        <p>Temática: {{workshop.tematica}}</p>
        <p>Dificultad: {{workshop.dificultad}}</p>
        <p>Comienza: {{workshop.fecha | date:'dd/MM/yyyy'}}</p>
        <p>Hora: {{workshop.hora_ini.slice(0,5)}}</p>
        </div>
    </div>
    <hr>

    <!-- BOTONES -->
    <div class="buttons">
      <button id="more-info" routerLink="/courses">Mas cursos</button>
      <button 
        id="inscription" 
        (click)="openModal()" 
        *ngIf="course.estado === 1 && !yaInscripto">
        Inscribirse
      </button>
      <span *ngIf="yaInscripto" class="inscripto-label">
        Ya Inscripto
      </span>
      <span *ngIf="course.estado !== 1" class="curso-no-disponible">
        No disponible
      </span>
    </div>
    <div id="confirmationModal" class="modal" *ngIf="showModal">
      <div class="modal-content">
        <h2>Confirmar inscripción</h2>
        <p>¿Estás seguro de que deseas inscribirte en este curso?</p>
        <button id="inscription" (click)="confirmModal()">Sí</button>
        <button id="more-info" (click)="cancelModal()">No</button>
      </div>
    </div>
  </div>

  <!-- MENSAJE SI NO HAY TALLERES -->
  <div class="content" *ngIf="workshops.length == 0">
    <p>No hay talleres para este curso.</p>
    <hr>
    <div class="buttons">
      <button id="inscription" (click)="openModal()" *ngIf="course.estado === 1 && !yaInscripto">
        Inscribirse
      </button>
      <button id="more-info" routerLink="/courses">Mas cursos</button>
    </div>
    <span *ngIf="yaInscripto" class="inscripto-label">
      Ya Inscripto
    </span>
    <span *ngIf="course.estado !== 1" class="curso-no-disponible">
      No disponible
    </span>
    <div id="confirmationModal" class="modal" *ngIf="showModal">
      <div class="modal-content">
        <h2>Confirmar inscripción</h2>
        <p>¿Estás seguro de que deseas inscribirte en este curso?</p>
        <button id="inscription" (click)="confirmModal()">Sí</button>
        <button id="more-info" (click)="cancelModal()">No</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- PANTALLA DE CARGA -->
<ng-container *ngIf="loading">
  <div class="loading-spinner">
    <img src="/assets/Icons/loadingspinner.gif" alt="Loading...">
    <p>Por favor, espere mientras se carga la información.</p>
  </div>
</ng-container>