<div class="title-section">
  <h1>{{course?.title}}</h1>
  <p>En este curso aprenderas los fundamentos del desarrollo Frontend, pasando de 0 a Experto.</p>
  <h4>De: {{course?.startDate}}, Hasta: {{course?.finishDate}} </h4>
</div>
<hr>
<div class="content">
  <div class="card">
    <div>
      <img src={{course?.imageUrl}} alt="imagen-curso">
    </div>
    <div class="card-info">
      <h2>Aqui va el titulo del taller inluido en {{course?.title}}</h2>
      <p>Descripción del taller. </p>
      <p>Dificultad</p>
      <p>Fecha inicio</p>
      <p>Hora</p>
  </div>
</div>
<hr>
<div class="buttons">
  <button id="more-info" routerLink="/courses" >Mas cursos</button>
  <button id="inscription">Inscribirse</button>
</div>