<ng-container *ngIf="loading === false">
  <!-- INFO DEL CURSO -->
  <div class="title-section">
    <h2>{{course?.nom_curso}}</h2>
    <p>{{course?.descripcion}}</p>
    <h4>De: {{course?.fec_ini | date:'dd/MM/yyyy'}}, Hasta: {{course?.fec_fin | date:'dd/MM/yyyy'}} </h4>
  </div>
  <hr>

  <!-- TALLERES DEL CURSO -->
  <div class="content" *ngIf="workshops && workshops.length > 0">
    <div class="card" *ngFor="let workshop of workshops" routerLink="/workshops/{{workshop.idtaller}}">
      <div>
        <img [src]="workshop.imagen" alt="imagen-curso">
      </div>
      <div class="card-info">
        <h2>{{workshop.nom_taller}}</h2>
        <p>Temática: {{workshop.tematica}}</p>
        <p>Dificultad: {{workshop.dificultad}}</p>
        <p>Comienza: {{workshop.fecha | date:'dd/MM/yyyy'}}</p>
        <p>Hora: {{workshop.hora_ini.slice(0,5)}}</p>
      </div>
    </div>
  </div>
  <!-- MENSAJE SI NO HAY TALLERES -->
  <div class="content" *ngIf="workshops.length == 0">
    <p>No hay talleres para este curso.</p>
  </div>

  <!-- BOTONES -->
  <div class="buttons">
    <button id="more-info" (click)="goBack()">Mas cursos</button>
    <button id="inscription" (click)="openModal()" *ngIf="course.estado === 1  && !yaInscripto && !yaComenzo()" class="inscribirse">
      Inscribirse
    </button>
    <button *ngIf="yaInscripto" class="inscripto-label">
      Ya Inscripto
    </button>
    <button *ngIf="yaInscripto && !yaComenzo() && !course?.nota" (click)="openCancellationModal()" class="cancelar">
      Cancelar
    </button>
    <button *ngIf="course.estado !== 1 && !yaInscripto" class="curso-no-disponible">
      No disponible 
    </button>
  </div>
  <!-- MODAL DE CONFIRMACION DE INSCRIPCION -->
  <div id="confirmationModal" class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h2>Confirmar inscripción</h2>
      <p>¿Estás seguro de que deseas inscribirte en este curso?</p>
      <button id="inscription" (click)="confirmModal()">Sí</button>
      <button id="more-info" (click)="cancelModal()">No</button>
    </div>
  </div>

  <!-- MODAL DE CONFIRMACION DE CANCELACION -->
  <div id="cancellationModal" class="modal" *ngIf="showCancellationModal">
    <div class="modal-content">
      <h2>Confirmar cancelación</h2>
      <p>¿Estás seguro de que deseas cancelar tu inscripción en este curso?</p>
      <button id="inscription" (click)="confirmCancellationModal()">Sí</button>
      <button id="more-info" (click)="closeCancellationModal()">No</button>
    </div>
  </div>
</ng-container>

<!-- PANTALLA DE CARGA -->
<ng-container *ngIf="loading">
  <div class="loading-spinner">
    <img src="/assets/Icons/loadingspinner.gif" alt="Loading...">
    <p>Por favor, espere mientras se carga la información.</p>
  </div>
</ng-container>