<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.scss">
    <title>Header</title>
</head>
<body>
    <header class="header">   
        <div class="titulo">
            <img id="logo-header" routerLink="/" src="/assets/Icons/logo-1.png" alt="CUR.SOFTWARE">
        </div>
    
        <div class="botones">
            <a class="redireccion" routerLink="/workshops" href="#talleres">
                Talleres
            </a>
            <a class="redireccion" routerLink="/courses" href="#cursos">
                Cursos
            </a>
            
            <div *ngIf="sesionIniciada" class="botones-sesion-iniciada">
                <a href="" class="redireccion">Mi perfil</a>
                <button class="boton">Mis cursos</button>   
            </div>
    
            <div class="menu-desplegable">
                <button class="boton-img" (click)="toggleMenu()"></button>
                <div *ngIf="isMenuVisible" class="menu">
                    <ul>
                        <li *ngIf="!sesionIniciada"><a routerLink="/login">Iniciar Sesión</a></li>
                        <li *ngIf="!sesionIniciada"><a routerLink="/register">Registrarse</a></li>
                        <li *ngIf="sesionIniciada"><a href="#" (click)="logout()">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
   
</body>

</html>
