.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 112px;
    overflow: hidden;
}

#logo-header{
    width: 350px;
    max-height: 450px;
    object-fit: cover;/* Asegura que la imagen se ajuste dentro del contenedor */
    }

#logo-header:hover{
    cursor: pointer;
    opacity: 0.8;
}

.titulo{
 justify-content: start;
}

#title{
    font-style: bold;
    font-size:xx-large;
    color: #426B1F;
    text-decoration: none;
}

h4{
    margin-left: 96px;
    font-size: 25px;
    color: #426B1F;
}

h4 a{
    text-decoration: none;
    color: inherit;
}

.botones{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-right: 10px;
    align-content: center;
}

.redireccion{
    font-size: 18px;
    color: black;
    margin-right: 35px;
    text-decoration: none;
    align-content: center;
}
.boton{
    font-size: 18px;
    cursor: pointer;
    width: 126px;
    height: 48px;
    margin-right: 25px;
    background-color: #426B1F;
    color: white;
    border-radius: 5px;
    border: none;

}

.boton-img{
    font-size: 18px;
    cursor: pointer;
    width: 70px;
    height: 48px;
    margin-right: 25px;
    background-color: #426B1F;
    color: white;
    border-radius: 5px;
    border: none;
    background-image: url(/assets/Icons/Usuario-logo.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-desplegable{
    height: auto;
    margin-right: 10px;
    align-content: center;
    background-color: white;
}
.menu {
    width: 150px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color:  #426B1F;
    position: absolute;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
}

.menu li {
    margin: 5px 0;
}

.menu a {
    margin: 18px;
    text-decoration: none;
    color: white;
    outline: none;
}

.menu a:hover {
    color:gold
}