<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.scss">
    <title>Header</title>
</head>
<body>
    <header>   
        <a href="/" class="cs-logo">CURSOFTWARE</a>
        <div class="botones">
            <a class="redireccion" routerLink="/workshops" href="#talleres">
                Talleres
            </a>
            <a class="redireccion" routerLink="/courses" href="#cursos">
                Cursos
            </a>
            <ng-container *ngIf="sesionIniciada && esDocente == false">
                <button routerLink="/learning" class="boton">Mis cursos</button>
            </ng-container> 
               
    
            <div class="menu-desplegable">
                <img src="/assets/Icons/Usuario-logo.png" class="boton-img" (click)="toggleMenu()" alt="Usuario">
                <div *ngIf="isMenuVisible" class="menu">
                    <ul>
                        <li *ngIf="!sesionIniciada" routerLink="/login"><a>Iniciar Sesión</a></li>
                        <li *ngIf="!sesionIniciada" routerLink="/register"><a>Registrarse</a></li>
                         <!--Perfil Docente-->
                        <li *ngIf="sesionIniciada && esDocente" routerLink="/teacher-panel"><a>Panel Docente</a></li>
                        <li *ngIf="sesionIniciada && esDocente == false" routerLink="/panel"><a>Mi Perfil</a></li>
                        <li *ngIf="sesionIniciada"><a href="#" (click)="logout()">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
   
</body>

</html>
