<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.scss">
    <title>Footer2</title>
</head>
<body>
    <footer class="footer">
        <img src="/assets/Icons/logo-1.png" alt="CUR.SOFTWARE" class="logo-footer" href="#">
            <div class="links">
                <div class="links-info">
                    <h4>Informacion</h4>
                    <hr>
                    <a href="#sobre-nosotros" class="sobre-nosotros">Sobre Nosotros</a> 
                    <br>
                    <a routerLink="/courses" class="redireccion">Cursos</a>
                </div>
            
                <div class="links-contacto">
                    <h4>Contacto</h4>
                    <hr>
                    <div class="contact-item">
                        <img src="/assets/Icons/telephone-logo.png" alt="">
                        <p> 3412123789</p>
                    </div>
                    <div class="contact-item">
                        <img src="/assets/Icons/email-logo.png" alt="">
                        <p>cur.soft&#64;gmail.com</p>
                    </div>
                </div>

                <div class="redes">
                    <h4>Redes</h4>
                    <hr>
                    <div class="contenedores-links">
                        <div class="contenedor-facebook">
                            <a href="https://www.facebook.com/">
                                <img src="https://img.icons8.com/ios-filled/50/000000/facebook.png"/>
                            </a>
                        </div>
                        <div class="contenedor-instagram">
                            <a href="https://www.instagram.com/">
                                <img src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png"/>
                            </a>
                        </div>
                        <div class="contenedor-linkedn">
                            <a href="https://www.linkedin.com/">
                                <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png"/>
                            </a>
                        </div>
                    </div>    
                </div>
            </div>

            
        </footer>
        <div class="derechos-reservados">
            <hr>
            <p>© 2025 CUR.SOFTWARE. Todos los derechos reservados.</p>
        </div>
</body>
</html>
