div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
}

.titles {
  align-items: baseline;
}

h2 {
  margin: 0;
  font-size: 35px;
}

p{
  margin: 0 1rem;
  align-items: center;
  font-size: 18px;
  color: #333;
}

.filters {
  align-items: center;
}

a {
  margin-left: 1rem;
  color: #426B1F;
  text-decoration: none;
  border: solid 1px #426B1F;
  border-radius: 30px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a:hover,
a.active {
  background-color: #426B1F;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

hr {
  border: 1px solid #426B1F;
  margin: 0 2rem;
}

app-workshop-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem; // Espaciado entre las cards
  margin: 2rem 2rem;
}