<div class="teacher-container">
  <h1 class="teacher-nombre">Juan Perez <span class="teacher-dni">44111222</span></h1>
  <hr />

  <div class="teacher-grid">
    <div class="datos-box">
      <div class="card-header">
        <span class="titulo"> <strong>TUS DATOS</strong></span>
        <button class="edit-btn" title="Editar datos">
          ✎
        </button>
      </div>
      <p><strong>Nombre y Apellido:</strong> Juan Perez</p>
      <p><strong>DNI:</strong> 44111222</p>
      <p><strong>Fecha de nacimiento:</strong> 01/01/2002</p>
      <p><strong>Dirección:</strong> Zeballos 1341, Rosario, Santa Fe</p>
    </div>

    <div class="estado-box">
      <div class="clases-box">
        <h4>Mis cursos</h4>
        <p>Desarrollador Backend </p>
        <p>Diseño Gráfico</p>
        <button class="curso-btn ">Nuevo Curso</button>
      </div>

      <div class="horarios-box">
        <div class="horarios-header">
          <h4>Proximas clases</h4>
        </div>
        <p>05/02/2025 <span class="hora">16:00</span></p>
        <p>05/10/2024 <span class="hora">14:00</span></p>
        <p>04/09/2023 <span class="hora">16:00</span></p>
        <button class="historial-btn">Historial</button>
      </div>
    </div>
  </div>
</div>