<div class="teacher-container">
  <h1 class="teacher-nombre">{{user?.nombre}}, {{user?.apellido}} <span class="teacher-dni">{{user?.dni}}</span></h1>
  <hr />

  <div class="teacher-grid">
    <div class="datos-box">
      <div class="card-header">
        <span class="titulo"> <strong>TUS DATOS</strong></span>
        <button class="edit-btn" title="Editar datos" *ngIf="!isEditing" (click)="editarDatos()">
          ✎
        </button>
      </div>
      <div *ngIf="!isEditing">
        <p><strong>Nombre y Apellido:</strong> {{ user?.nombre }} {{ user?.apellido }}</p>
        <p><strong>DNI:</strong> {{ user?.dni }}</p>
        <p><strong>Dirección:</strong> {{ user?.direccion }}</p>
        <p><strong>Email:</strong> {{ user?.email }}</p>
        <p><strong>Teléfono:</strong> {{ user?.telefono }}</p>
    </div>
    <form *ngIf="isEditing" (ngSubmit)="guardarDatos()">
        <p>
          <strong>Nombre:</strong>
          <input [(ngModel)]="user.nombre" name="nombre" required />
        </p>
        <p>
          <strong>Apellido:</strong>
          <input [(ngModel)]="user.apellido" name="apellido" required />
        </p>
        <p>
          <strong>Dirección:</strong>
          <input [(ngModel)]="user.direccion" name="direccion" />
        </p>
        <p>
          <strong>Correo:</strong>
          <input [(ngModel)]="user.email" name="email" type="email" required />
        </p>
        <p>
          <strong>Teléfono:</strong>
          <input [(ngModel)]="user.telefono" name="telefono" type="tel" />
        </p>
        <!-- Contraseña -->
        <p>
          <strong>Contraseña:</strong>
          <input [(ngModel)]="user.contrasena" name="contrasena" type="password" required />
        </p>
        <button type="submit" class="save-btn">Guardar</button>
        <button type="button" class="cancel-btn" (click)="cancelarEdicion()">Cancelar</button>
      </form>
      </div>
    <div class="estado-box">
      <div class="clases-box">
        <h4>Mis cursos</h4>
          <ng-container *ngIf="cursos.length > 0; else sinCursos">
            <ul>
              <li *ngFor="let curso of cursos">
                {{ curso.nom_curso }} <span *ngIf="curso.num_aula"> - Aula: {{ curso.num_aula }}</span>
                <button class="edit-btn" title="Editar curso" (click)="editarCurso(curso)">✎</button>
                <button class="alumnos-btn" title="Ver alumnos" (click)="verAlumnos(curso)">👤</button>
              </li>
            </ul>
          </ng-container>
          <ng-template #sinCursos>
            <p>No estás asignado a ningún curso.</p>
          </ng-template>
          <button class="curso-btn" routerLink="/course-form">Nuevo Curso</button>
      </div>

      <div class="horarios-box">
        <div class="horarios-header">
          <h4>Proximas clases</h4>
        </div>
          <ng-container *ngFor="let curso of cursos">
            <ng-container *ngIf="curso.talleres && curso.talleres.length > 0;">
              <ul>
                  <li *ngFor="let taller of curso.talleres">
                    {{ taller.nom_taller }}
                    <span *ngIf="taller.fecha"> - Fecha: {{ taller.fecha | date:'dd/MM/yyyy' }}</span>
                    <span *ngIf="taller.hora_ini"> - Horario: {{ taller.hora_ini }}</span>
                    <button class="edit-btn" title="Editar taller" (click)="editarTaller(taller)">✎</button>
                    <button class="alumnos-btn" title="Ver alumnos" (click)="verAlumnosTaller(taller)">👤</button>
                  </li>  
              </ul>
            </ng-container>
          </ng-container>
        <button class="historial-btn" (click)="verHistorial()">Historial</button>
      </div>
    </div>
  </div>
  <!---Visibilziar este contenedor cuando se de click a un edit-btn de la seccion de cursos-->
  <div *ngIf="isEditingCurso" class="edicionCurso">
      <form action="" (ngSubmit)="guardarCursoModificado()">
          <p>
              <strong>Nombre del curso:</strong>
              <input [(ngModel)]="cursoSeleccionado.nom_curso" name="nombreCurso" required />
          </p>
          <p>
              <strong>Aula:</strong>
              <input [(ngModel)]="cursoSeleccionado.num_aula" name="aulaCurso" required/>
          </p>
          <p>
              <strong>Descripción:</strong>
              <textarea [(ngModel)]="cursoSeleccionado.descripcion" name="descripcionCurso" required></textarea>
          </p>
          <p>
            <strong>Fecha de inicio:</strong>
            <input [(ngModel)]="cursoSeleccionado.fec_inicio" name="fechaInicio" type="date" required />
          </p>
          <p>
            <strong>Fecha Fin:</strong>
            <input [(ngModel)]="cursoSeleccionado.fec_fin" name="fechaFin" type="date" required />
          </p>
          <button type="submit" class="save-btn">Guardar</button>
          <button type="button" class="cancel-btn" (click)="cancelarEdicionCurso()">Cancelar</button>
      </form>
  </div>

  <div *ngIf="isEditingTaller" class="edicionTaller">
      <form action="" (ngSubmit)="guardarTallerModificado()">
          <p>
              <strong>Nombre del taller:</strong>
              <input [(ngModel)]="tallerSeleccionado.nom_taller" name="nombreTaller" required />
          </p>
          <p>
              <strong>Fecha:</strong>
              <input [(ngModel)]="tallerSeleccionado.fecha" name="fechaTaller" type="date" required />
          </p>
          <p>
              <strong>Hora de inicio:</strong>
              <input [(ngModel)]="tallerSeleccionado.hora_ini" name="horaInicioTaller" type="time" required />
          </p>
          <p>
            <strong>Tematica:</strong>
            <input [(ngModel)]="tallerSeleccionado.tematica" name="tematicaTaller" required />
          </p>
          <p>
            <strong>Requisitos:</strong>
            <textarea [(ngModel)]="tallerSeleccionado.requisitos" name="requisitosTaller" required></textarea>
          </p>
          <button type="submit" class="save-btn">Guardar</button>
          <button type="button" class="cancel-btn" (click)="cancelarEdicionTaller()">Cancelar</button>
      </form>
  </div>

  <div *ngIf="alumnosInscritos.length > 0" class="alumnos-inscritos">
    <h4>Alumnos inscritos en el curso: {{cursoSeleccionado.nom_curso}}</h4>
    <table>
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Nota</th>
            <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnosInscritos">
          <td>{{ alumno.nombre_alumno }}</td>
          <td>{{ alumno.apellido_alumno }}</td>
          <td>{{ alumno.email }}</td>
          <td>
            {{ alumno.notaFinal != null ? (alumno.notaFinal | number:'1.2-2') : 'Sin nota' }}
          </td>
          <td>
            <button *ngIf="alumno.notaFinal == null && curso.fec_fin == fechaActual" (click)="agregarNotaFinal(alumno)">
              Agregar Nota
            </button>
            <button *ngIf="alumno.notaFinal != null && curso.fec_fin == fechaActual" (click)="editarNotaFinal(alumno)">
              Editar Nota
          </button>
          </td>   
        </tr>
      </tbody>
    </table>
    <button (click)="cerrarAlumnosInscritos()">Cerrar</button>
  </div>

    <div *ngIf="alumnosTaller.length > 0" class="alumnos-inscritos">
    <h4>Alumnos inscritos en el Taller: {{tallerSeleccionado.nom_taller}}</h4>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnosTaller">
          <td>{{ alumno.nombre_alumno }}</td>
          <td>{{ alumno.apellido_alumno }}</td>
          <td>{{ alumno.email }}</td>
            <td>
            <button (click)="insertarNota(alumno)">Agregar Nota</button>
            </td>
        </tr>
      </tbody>
    </table>
    <button (click)="cerrarAlumnosInscritosTaller()">Cerrar</button>
  </div>

  <!--Contenedor de Insercion de nota nueva de taller-->
  <div *ngIf="isInsertarNota" class="alumno-nota">
    <h4>Agregar Nota a {{alumnoSeleccionado.nombre_alumno}} {{alumnoSeleccionado.apellido_alumno}}</h4>
    <form (ngSubmit)="agregarNota(alumnoSeleccionado)">
      <p>
        <strong>Nota:</strong>
        <input [(ngModel)]="nuevaNota" name="nota" required />
      </p>
      <button type="submit" class="save-btn">Guardar</button>
      <button type="button" class="cancel-btn" (click)="cancelarInsercionNota()">Cancelar</button>
    </form>
  </div>

  <!---Contenedor para la modificacion de nota Final de curso-->
  <div *ngIf="insertarNotaFinal" class="alumno-nota">
    <h4>Modificar Nota Final de {{alumnoSeleccionado.nombre_alumno}} {{alumnoSeleccionado.apellido_alumno}}</h4>
    <form (ngSubmit)="insertarNotaFinalAlumno(alumnoSeleccionado.dni, nuevaNota, cursoSeleccionado.idcurso)">
      <p>
        <strong>Nota:</strong>
        <input [(ngModel)]="nuevaNota" name="nota" required />
      </p>
      <button type="submit" class="save-btn">Guardar</button>
      <button type="button" class="cancel-btn" (click)="cancelarEdicionNotaFinal()">Cancelar</button>
    </form>
  </div>

  <!--Contenedor de historial de talleres-->
  <div *ngIf="historialTalleres.length > 0" class = "historial-talleres">
    <h4>Historial de Talleres</h4>
    <table>
  <thead>
      <tr>
        <th>#</th>
        <th>Nombre del Taller</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taller of historialTalleres; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ taller.nom_taller }}</td>
        <td>{{ taller.fecha | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
    </table>
    <button (click)="cerrarHistorial()">Cerrar</button>
  </div>

</div>