div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h2{
  font-size: 35px;
}

p{
  margin-left: 1rem;
  font-size: 18px;
  color: #333;
}

a{
  margin-right: 1rem ;
  color: green;
  text-decoration: none;
  border: solid 3px green;
  border-radius: 30px;
  padding: 10px;
  background-color: white;
}

a:hover,a.active{
  background-color: green;
  color: white;
}

hr{
    border: none;
    border-top: 2px solid #333;
    margin: 1rem 5rem;
}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titles{
  align-items:baseline;
  margin-left: 5rem;
}
.filters{
  justify-content: end;
  align-items: center;
  margin-right: 5rem;
}

.courses{
  justify-content: space-evenly;
}