<ng-container *ngIf="!loading">
  <!-- INFO DEL TALLER -->
  <div class="title-section">
    <h1>{{workshop?.nom_taller}}</h1>
    <p>{{workshop?.fecha | date:'dd/MM/yyyy'}} | {{workshop?.hora_ini.slice(0,5)}}</p>
  </div>
  <hr>

  <section>
    <div *ngIf="workshop?.tematica && workshop.tematica.length > 0" class="content">
      <h1>Temario</h1>
      <ul>
        <li *ngFor="let item of workshop?.tematica">{{item}}</li>
      </ul>
    </div>
    <div *ngIf="!workshop?.tematica || workshop?.tematica.length === 0" class="content">
      <h2>No hay temario disponible</h2>
    </div>

    <div *ngIf="workshop?.requisitos && workshop.requisitos.length > 0" class="content">
      <h1>Requisitos</h1>
      <ul *ngIf="workshop?.requisitos && workshop?.requisitos.length > 0">
        <li *ngFor="let item of workshop?.requisitos">{{item}}</li>
      </ul>
    </div>
    <div *ngIf="!workshop?.requisitos || workshop?.requisitos.length === 0" class="content">
      <h2>No hay requisitos</h2>
    </div>
  </section>

  <!-- BOTONES -->
  <div class="buttons">
    <button id="more-info" (click)="goBack()">Mas talleres</button>
    <button 
      id="inscription" 
      (click)="openModal()" 
      *ngIf="!yaInscripto && workshop.nota_taller === null">
      Inscribirse
    </button>
    <button *ngIf="yaInscripto" class="inscripto-label">
      Ya inscripto
    </button>
    <button *ngIf="yaInscripto && fechaActual < workshop.fecha && workshop.estado_inscripcion === 1" class="cancelar" (click)="openCancellationModal()">
      Cancelar
    </button>
    <button *ngIf="workshop.nota_taller !== null && workshop.nota_taller >= 6" class="aprobado">
      Aprobado {{workshop?.nota_taller}}
    </button>
    <button *ngIf="workshop.nota_taller !== null && workshop.nota_taller < 6" class="desaprobado">
      Desaprobado {{workshop?.nota_taller}}
    </button>
  </div>

  <!-- Modal de confirmación -->
  <div id="confirmationModal" class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h2>Confirmar inscripción</h2>
      <p>¿Estás seguro de que deseas inscribirte en este taller?</p>
      <button id="inscription" (click)="confirmModal()">Sí</button>
      <button id="more-info" (click)="cancelModal()">No</button>
    </div>
  </div>

  <!-- Modal de cancelación -->
  <div id="cancellationModal" class="modal" *ngIf="showCancellationModal">
    <div class="modal-content">
      <h2>Confirmar cancelación</h2>
      <p>¿Estás seguro de que deseas cancelar tu inscripción en este taller?</p>
      <button id="inscription" (click)="confirmCancellationModal()">Sí</button>
      <button id="more-info" (click)="closeCancellationModal()">No</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <div class="loading-spinner">
    <img src="/assets/Icons/loadingspinner.gif" alt="Loading...">
    <p>Por favor, espere mientras se carga la información.</p>
  </div>
</ng-container>