<ng-container *ngIf="!loading">
  <div class="title-section">
    <h1>{{workshop?.title}}</h1>
    <p>{{workshop?.date}} | {{workshop?.startHour}}</p>
  </div>
  <hr>
  <div class="content">
    <h1>Temario</h1>
    <ul>
      <li *ngFor="let item of workshop?.topics">{{item}}</li>
    </ul>
  </div>

  <div class="buttons">
    <button id="more-info" routerLink='/workshops'>Mas talleres</button>
    <button id="inscription">Inscribirse</button>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <i style="color:blue">Cargando información...</i>
</ng-container>