<!-- user-learning.component.html -->
<div class="learning-container">
  <header>
    <h2>
      Tu aprendizaje 
    </h2>
    <p>
      {{ cursos.length }} Cursos
    </p>
  </header>
  
  <hr/>

  <div class="learning-content">
    <!-- Cursos -->
    <div class="courses-list" *ngIf="cursos.length > 0">
      <div class="course-card" *ngFor="let curso of cursos">
        <img [src]="curso.imagen" alt="imagen-curso" routerLink="/courses/{{ curso.idcurso }}" class="course-img" />
        <div routerLink="/courses/{{ curso.idcurso }}" class="course-info">
          <!-- Dentro de .course-info -->
          <h2 >{{ curso.nom_curso }}</h2>
          <p class="estado" [ngClass]="{
              'inscripto': curso.estado === 1,
              'cursando': curso.estado === 2,
              'finalizado': curso.estado === 3
            }">
            {{
            curso.estado === 1 ? 'Inscripto' :
            curso.estado === 2 ? 'Cursando' :
            curso.estado === 3 ? 'Finalizado' : ''}}
              <p>{{ curso.fec_ini | date:'MM/yyyy' }} - {{ curso.fec_fin | date:'MM/yyyy' }}</p>
        </div>
        <div class="course-actions">
          <ng-container [ngSwitch]="curso.estado">
            <!-- Inscripto -->
            <div *ngSwitchCase="1">
              <button class="cancel-btn" [disabled]="!puedeCancelar(curso.fec_ini)" (click)="cancelarInscripcion(curso)">
                Cancelar
              </button>
            </div>
            <!-- Cursando -->
            <div *ngSwitchCase="2">
              <button class="talleres-btn" [routerLink]="['/courses', curso.idcurso]">Talleres &rarr;</button>
            </div>
            <!-- Finalizado -->
            <div *ngSwitchCase="3">
              <span *ngIf="curso.nota_curso >= 6" class="nota-aprobado">
                Aprobado - {{ curso.nota_curso | number:'1.2-2' }}
                <button class="certificado-btn" (click)="verCertificado(curso)">Certificado</button>
              </span>
              <span *ngIf="curso.nota_curso < 6 && curso.nota_curso !== null" class="nota-desaprobado">
                Desaprobado - {{ curso.nota_curso | number:'1.2-2' }}
              </span>
              <span *ngIf="curso.nota_curso === null" class="nota-cancelado">
                Cancelado
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Últimos talleres -->
    <div class="sidebar" *ngIf="cursos.length > 0">
      <h4>Tus Talleres</h4>
      <div class="taller-row" *ngFor="let taller of ultimosTalleres">
        <span>{{ taller.nom_taller }} - {{ taller.fecha | date:'dd/MM/yyyy' }}</span>
        <span class="taller-nota">{{ taller.nota_taller | number:'1.2-2' }}</span>
      </div>
    </div>
    <!-- No hay cursos disponibles -->
    <div *ngIf="cursos.length === 0" class="no-courses">
      <p>No te inscribiste a ningún curso.</p>
      <p><a routerLink="/courses">Explorá nuestros cursos</a> y comenzá tu aprendizaje hoy mismo!</p>
    </div>
  </div>
</div>