<div class="usuario-container">
  <h1 class="usuario-nombre">{{user.nombre_alumno}} {{user.apellido_alumno}}<span class="usuario-dni">{{user.dni}}</span></h1>
  <hr />

  <div class="usuario-grid">
    <div class="datos-box">
      <div class="card-header" *ngIf="user">
        <span class="titulo"> <strong>TUS DATOS</strong></span>
        <button class="edit-btn" title="Editar datos" *ngIf="!isEditing" (click)="editarDatos()">
          ✎
        </button>
      </div>
      <div *ngIf="!isEditing">
        <p><strong>Nombre y Apellido:</strong> {{user.nombre_alumno}} {{user.apellido_alumno}}</p>
        <p><strong>DNI:</strong> {{user.dni}}</p>
        <p><strong>Dirección:</strong> {{user.direccion}}</p>
        <p><strong>Correo:</strong> {{user.email}}</p>
      </div>
      <form *ngIf="isEditing" (ngSubmit)="guardarDatos()">
        <p>
          <strong>Nombre:</strong>
          <input [(ngModel)]="user.nombre_alumno" name="nombre" required />
        </p>
        <p>
          <strong>Apellido:</strong>
          <input [(ngModel)]="user.apellido_alumno" name="apellido" required />
        </p>
        <p>
          <strong>Dirección:</strong>
          <input [(ngModel)]="user.direccion" name="direccion" />
        </p>
        <p>
          <strong>Correo:</strong>
          <input [(ngModel)]="user.email" name="email" type="email" required />
        </p>
        <p>
          <strong>Teléfono:</strong>
          <input [(ngModel)]="user.telefono" name="telefono" type="tel" />
        </p>
        <!-- Contraseña -->
        <p>
          <strong>Contraseña:</strong>
          <input [(ngModel)]="user.contrasena" name="contrasena" type="password" required />
        </p>
        <button type="submit" class="save-btn">Guardar</button>
        <button type="button" class="cancel-btn" (click)="cancelarEdicion()">Cancelar</button>
      </form>
      </div>
    <div *ngIf="!user">
      <p>No se encontraron datos del usuario.</p>
      </div>

    <div class="estado-box">

      <div class="cursando-box" *ngIf="cursos.length > 0">
        <h4>Tus cursos</h4>
          <div class="curso-row" *ngFor="let curso of cursos">
            <span class="curso-nombre">{{curso.nom_curso}}</span>
            <span class="curso-fecha">
              <strong>Inicio: </strong>{{ curso.fec_ini | date:'dd/MM/yyyy' }} - <strong>Fin: </strong>{{ curso.fec_fin | date:'dd/MM/yyyy' }}
            </span>
          </div> 
      </div>
      <div *ngIf="cursos.length === 0">
        <p>No estás inscripto en ningún curso.</p>
      </div>

      <div class="cursando-box" *ngIf="cursos.length > 0">
        <div class="curso-box">
          <h4>Tus talleres</h4>
          <div class="curso-row" *ngFor="let taller of talleres">
            <span class="curso-nombre">{{taller.nom_taller}}</span>
            <span class="curso-fecha">
              <strong>Fecha: </strong>{{ taller.fecha | date:'dd/MM/yyyy' }}
            </span>
        </div>
      </div>
      <div *ngIf="talleres.length === 0">
        <p>No estás inscripto en ningún taller.</p>
      </div>
    </div>
  </div>
</div>