<div class="usuario-container">
  <h1 class="usuario-nombre">Juan Perez <span class="usuario-dni">44111222</span></h1>
  <hr />

  <div class="usuario-grid">
    <div class="datos-box">
      <div class="card-header">
        <span class="titulo"> <strong>TUS DATOS</strong></span>
        <button class="edit-btn" title="Editar datos">
          ✎
        </button>
      </div>
      <p><strong>Nombre y Apellido:</strong> Juan Perez</p>
      <p><strong>DNI:</strong> 44111222</p>
      <p><strong>Fecha de nacimiento:</strong> 01/01/2002</p>
      <p><strong>Dirección:</strong> Zeballos 1341, Rosario, Santa Fe</p>
    </div>

    <div class="estado-box">
      <div class="cursando-box">
        <h4>Estas cursando</h4>
        <p>Desarrollador Backend <span class="porcentaje">45%</span></p>
        <p>Diseño Gráfico <span class="porcentaje">65%</span></p>
      </div>

      <div class="pagos-box">
        <div class="pagos-header">
          <h4>Últimos pagos</h4>
          <span class="estado-pago">Estás al día</span>
        </div>
        <p>05/02/2025 <span class="monto">$16.000</span></p>
        <p>05/10/2024 <span class="monto">$12.000</span></p>
        <p>04/09/2023 <span class="monto">$12.000</span></p>
        <button class="historial-btn">Historial</button>
      </div>
    </div>
  </div>
</div>