body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: auto;
    margin: 0;
    padding: 2rem 0 ;
    font-family: 'Montserrat', sans-serif;
}

@keyframes color-change {
  0% {
    color: #588157;
  }
  50% {
    color: #2d500f;
  }
    100% {
        color: #426B1F;
  }
}

.fondo-container-buscar-cursos{
    width: 100%;
    height: 600px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    background-image: url(/assets/Images/Foto-inicial.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    align-items: flex-start;
}
.contenedor-buscar-cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 10px;
    width: 50%;
    height: 600px;
    margin-top: 0;
}

.contenedor-buscar-cursos h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 35px;
    margin: 0px;
    margin-bottom: 20px;
}

.contenedor-buscar-cursos h2 .color-texto {
    color: #000000;
    animation: color-change 4s ease-in-out infinite alternate;
}

.contenedor-buscar-cursos p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
    width: 70%;
    margin-left: 25px;
}

.boton {
    font-size: 22px;
    cursor: pointer;
    width: 175px;
    height: 60px;
    margin-right: 25px;
    background-color: #426B1F;
    color: white;
    border-radius: 40px;
    border: none;
    transition: color 0.3s ease;
}

.boton:hover {
    color: #a3b18a;
}

.contenedor-grid-fotos {
    width: 100%;
    height: 600px;
    background-color: whitesmoke;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 5px; 
}

.card {
    height: 380px;
    border-radius: 14px;
    border: 2px solid #426B1F;
    transition: transform .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
}
.contenido {
    width: 100%;
    color: black;
}

.contenido h1 {
    color: white;
    background-color: #426B1F;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 22px;
    margin-bottom: 12px;
}

.contenido p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
}

.estadisticas-generales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #a3b18a;
    margin: 50px;
}

.estadisticas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    margin: 20px;
    background-color: blue;
}

.stat {
    width: 40%;
    background-color: red;
    font-size: 40px;
    color: white;
    margin: 20px;

}

.contenedor-info hr{
    width: 75%;
    margin: 0px;
    border: 2px solid #588157;
}
.contenedor-info{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px auto;
}

.contenedor-info .titulo h3 {
    background-color: white;
    width: 100%;
    margin-top: 20px;
}

.titulo h3{
    background-color: whitesmoke;
    color: black;
    font-size: 35px;
    text-align: center;
}
.contenedor-texto p{
    font-size: 30px;
    text-align: Start;
}


.contenedor-texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 780px;
    background-image: url(/assets/Images/fondo-wave.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 160px; 
}

.contenedor-texto > img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-left: 20px; 
    border-radius: 50%;
    border: 2px solid #426B1F;
}

.seccion-gral{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.seccion {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 30%;
    height: auto;
    margin: 20px;     
    padding: 10px;    
    margin-bottom: 20px;    
}

.seccion img {
    width: 40px;           
    height: 40px;
    object-fit: contain;
    border: none;
}

.seccion p {
    font-size: 25px;
    text-align: justify; 
    line-height: 1.5;
    width: 65%;
    margin: 0;
}

.contenedor-boton-unirse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto; 
    background-color: #2d500f;
}

.contenedor-boton-unirse button{
    background-color: white;
    color: #2d500f;
    font-size: 25px;
    margin-bottom: 15px;
}

.contenedor-boton-unirse button:hover{
    background-color: #a3b18a;
    color: white;
}

.contenedor-boton-unirse p{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.contenedor-2024{
    display: flex;
    flex-direction: row;
    background-image: url(/assets/Images/fondo-wave2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;

}

.contenedor-titulo-2024 h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #588157;
    font-size: 45px;
    margin: 0px;
    padding: 20px;
}

.contenedor-titulo-2024 img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-left: 20px; 
    border-radius: 8px;
}

.contenedor-info-2024{
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.contenedor-info-2024 p{
    color: black;
    font-size: 25px;
    text-align: center; 
    justify-content: center;
    line-height: 1.5;
    width: 45%;
    margin-left: 20px;
}

.cuadrado {  
    display: flex;
    flex-direction: column;     
    justify-content: center; 
    align-items: center; 
    border: #426B1F 2px solid;
    width: 280px;
    height: 280px;
    color: #426B1F;
    font-size: 25px;
    margin: 10px 10px auto;
    border-radius: 8px;
    background-color: #a3b18a;
}

.cuadrado h2{
    margin: 0px;
}
.cuadrado p {
    margin: 0px;
}