<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="contenedor-buscar-cursos">
                <h2>Desarrolla tu aprendizaje al maximo.</h2>
                <h2>Con el mejor equipo docente</h2>
                <button class="boton">Ver Cursos</button>
    </div>
    <div class="contenedor-grid-fotos">
        <img src="/assets/Images/Foto-Curso-1.jpg" alt="foto-1">
        <img src="/assets/Images/Foto-Curso-3.jpg" alt="foto-2">
        <img src="/assets/Images/Foto-Curso-4.jpg" alt="foto-3">
    </div>
    <div class="contenedor-info">
        <div class="contenedor-boton-unirse">
            <h3>¿Por que elegir Cur.Software?</h3>
            <button class="boton">Unirse</button> <!-- Boton para Iniciar Sesion en la plataforma -->
        </div>

        <p>
        Brindamos cursos online de calidad y para la comunidad!
        <br>
        <br>
        Ofrecemos una amplia variedad de cursos diseñados para todos los niveles de habilidad.
        <br>
        <br>
        Contamos con instructores altamente calificados y con experiencia en la industria.
        <br>
        <br>
        Nuestros cursos están actualizados con las últimas tendencias y tecnologías.
        <br>
        <br>
        Ofrecemos flexibilidad en los horarios para que puedas aprender a tu propio ritmo.
        <br>
        <br>
        <br>
        ¡Únete a nuestra comunidad y lleva tu aprendizaje al siguiente nivel!
    </p>
       
    </div>
</body>
</html>