<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="contenedor-buscar-cursos">
                <h3>Desarrolla tu aprendizaje al maximo.</h3>
                <h3>Con el mejor equipo docente</h3>
                <button class="boton">Buscar Cursos</button>
    </div>
    <div class="contenedor-grid-fotos">
        <img src="/assets/Images/Foto-Curso-1.jpg" alt="foto-1">
        <img src="/assets/Images/Foto-Curso-2.jpg" alt="foto-2">
    </div>
    <div class="contenedor-info">
        <h3>¿Por que elegir CUR.SOFTWARE?</h3>
    <p>CUR.SOFTWARE ofrece una amplia variedad de cursos diseñados para todos los niveles de habilidad.</p>
    <br>
    <p>Contamos con instructores altamente calificados y con experiencia en la industria.</p>
    <br>
    <p>Nuestros cursos están actualizados con las últimas tendencias y tecnologías.</p>
    <p>Ofrecemos flexibilidad en los horarios para que puedas aprender a tu propio ritmo.</p>
    <p>Únete a nuestra comunidad y lleva tu aprendizaje al siguiente nivel.</p>
    </div>
</body>
</html>