<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="register.component.scss">
</head>
<body>
    <div class="login-container">
        <button routerLink="" class="btn-regresar"type="button">Volver</button>

        <h2>Crear Cuenta</h2>
        <hr>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" placeholder="Juan" formControlName="nombre">
              <div *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid">
                <small *ngIf="registerForm.get('nombre')?.errors?.['required']">El nombre es requerido.</small>
                <small *ngIf="registerForm.get('nombre')?.errors?.['maxlength']">Máximo 30 caracteres permitidos.</small>
                <small *ngIf="registerForm.get('nombre')?.errors?.['pattern']">Solo se permiten letras.</small>
              </div>
            </div>
          
            <div class="input-group">
              <label for="apellido">Apellido</label>
              <input type="text" id="apellido" placeholder="Gonzales" formControlName="apellido">
              <div *ngIf="registerForm.get('apellido')?.touched && registerForm.get('apellido')?.invalid">
                <small *ngIf="registerForm.get('apellido')?.errors?.['required']">El apellido es requerido.</small>
                <small *ngIf="registerForm.get('apellido')?.errors?.['maxlength']">Máximo 30 caracteres permitidos.</small>
                <small *ngIf="registerForm.get('apellido')?.errors?.['pattern']">Solo se permiten letras.</small>
              </div>
            </div>
          
            <div class="input-group">
              <label for="telefono">Teléfono</label>
              <input type="tel" id="telefono" placeholder="3412123456" formControlName="telefono">
              <div *ngIf="registerForm.get('telefono')?.touched && registerForm.get('telefono')?.invalid">
                <small *ngIf="registerForm.get('telefono')?.errors?.['required']">El teléfono es requerido.</small>
                <small *ngIf="registerForm.get('telefono')?.errors?.['maxlength']">Máximo 15 dígitos permitidos.</small>
                <small *ngIf="registerForm.get('telefono')?.errors?.['pattern']">Solo se permiten números.</small>
              </div>
            </div>
          
            <div class="input-group">
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="Ejemplo@gmail.com" formControlName="email">
              <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
                <small *ngIf="registerForm.get('email')?.errors?.['required']">El email es requerido.</small>
                <small *ngIf="registerForm.get('email')?.errors?.['email']">El email no es válido.</small>
                <small *ngIf="registerForm.get('email')?.errors?.['maxlength']">Máximo 60 caracteres permitidos.</small>
              </div>
            </div>
          
            <div class="input-group">
              <label for="documento">Documento de identidad o DNI</label>
              <input type="text" id="documento" placeholder="DNI" formControlName="documento">
              <div *ngIf="registerForm.get('documento')?.touched && registerForm.get('documento')?.invalid">
                <small *ngIf="registerForm.get('documento')?.errors?.['required']">El documento es requerido.</small>
                <small *ngIf="registerForm.get('documento')?.errors?.['maxlength']">Máximo 10 dígitos permitidos.</small>
                <small *ngIf="registerForm.get('documento')?.errors?.['pattern']">Solo se permiten números.</small>
              </div>
            </div>
          
            <div class="input-group">
              <label for="direccion">Dirección</label>
              <input type="text" id="direccion" placeholder="Zeballos 1211" formControlName="direccion">
              <div *ngIf="registerForm.get('direccion')?.touched && registerForm.get('direccion')?.invalid">
                <small *ngIf="registerForm.get('direccion')?.errors?.['required']">La dirección es requerida.</small>
                <small *ngIf="registerForm.get('direccion')?.errors?.['maxlength']">Máximo 30 caracteres permitidos.</small>
              </div>
            </div>
          
            <div class="input-group">
              <label for="password">Contraseña</label>
              <input type="password" id="password" formControlName="password">
              <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
                <small *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
                <small *ngIf="registerForm.get('password')?.errors?.['maxlength']">Máximo 15 caracteres permitidos.</small>
              </div>
            </div>
                 
            <button type="submit" >Registrarse</button>
        </form>
    </div>
        <div *ngIf="isErrorVisible" class="error-login">
            <p>Campo con dato incorrecto/incompleto o Usuario ya existe</p>
            <button (click)="isErrorVisible = false" class="btn-cerrar-error">Cerrar</button>
        </div>
</body>
</html>